body {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.title {
  font-size: 86px;
  font-family: "MuseoModerno", cursive;
  margin: 0;
  color: #ffcc01;
  -webkit-text-stroke: 3px #375ba9;
}

header {
  text-align: center;
  background-color: #ef5350;
  padding: 1em;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
}

#search-button,
#random-button {
  height: 25px;
  width: 75px;
}

#search-bar {
  height: 25px;
  width: 256px;
}

#sprite-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 0 1em 1em 1em;
}

#sprite-holder {
  display: flex;
  flex-direction: column;
  width: 256px;
  border: 1px solid #ef5350;
  padding: 1em;
  align-items: center;
}

#sprite-img {
  width: 96px;
  height: 96px;
}

#stats-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}
